<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="collapse" ng-click="$ctrl.toggleCollapse()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" ng-click="$ctrl.collapse()" class="navbar-brand">Seed Project</a>
        </div>
        <nav collapse="navCollapsed" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $ctrl.isActive('/')}">
                    <a href="#/">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Right item</a></li>
            </ul>
        </nav>
    </div>
</header>